@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	font-family: 'Fira Sans', sans-serif;
}

body {
	background-color: #f4f4f4;
	color: #333;
	line-height: 1.6;
}

header {
	background-color: #2c3e50;
	color: white;
	padding: 20px;
	text-align: center;
}

nav ul {
	list-style: none;
	padding: 0;
}

nav ul li {
	display: inline;
	margin-right: 30px;
}

nav ul li a {
	color: white;
	text-decoration: none;
	font-size: 1.1em;
}

nav ul li a:hover {
	text-decoration: underline;
}

main {
	padding: 20px;
	max-width: 960px;
	margin: 0 auto;
	background-color: white;
	border-radius: 8px;
}

h2 {
	color: #2c3e50;
	margin-bottom: 15px;
	font-size: 1.8rem;
}

p {
	font-size: 1;
	margin-bottom: 15px;
}

img {
	display: block;
	margin: 20px 0;
	border-radius: 8px;
}

a {
	color: #2980b9;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

footer {
	background-color: #2c3e50;
	color: white;
	text-align: center;
	padding: 20px 0;
}

html {
	scroll-behavior: smooth;
}
.car {
            border: 1px solid #ccc;
            padding: 15px;
            margin: 10px 0;
            border-radius: 8px;
            display: flex;
            gap: 20px;
            align-items: center;
        }

        .car img {
            width: 150px;
            height: auto;
            border-radius: 8px;
            transition: transform 0.3s ease;
        }

        .car img:hover {
            transform: scale(1.2);
        }

        .car-info {
            flex-grow: 1;
        }

        input[type="text"], input[type="number"] {
            padding: 5px;
            margin: 10px 5px;
            border: 1px solid #aaa;
            border-radius: 4px;
        }

        button {
            padding: 6px 10px;
            border: none;
            background-color: #2980b9;
            color: white;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: #3498db;
        }
			
        #clearCookiesButton {
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: #ff4d4d;
            color: white;
            border: none;
            padding: 10px 15px;
            border-radius: 5px;
            cursor: pointer;
            z-index: 1001;
        }
        #clearCookiesButton:hover {
            background-color: #e60000;
        }

        


